@use '../settings/colors' as c;
@use '../settings/mixins' as m;
.cities-section{
    @include m.container;
    margin-top: 4rem;
    margin-bottom: 5rem;
    position: relative;
    .cities-list{
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(auto-fill, max(25rem));
        gap: 3.3rem;
        .city-card{
            margin: auto;
            &:hover{
                cursor: pointer;
            }           
        }
    }
}