@use '../settings/colors' as c;
@use '../settings/mixins' as m;
.main-header{
    .container{
        @include m.container;
        @include m.space-between;
        padding-top: 2.5rem;
        padding-bottom: 2.4rem;
        .main-logo{
            width: 10rem;
        }
        .access-button{
            width: 13rem;
            height: 4.2rem;
            border-radius: 1rem;
            background-color:#DDE9F0;
            color: c.$text-color-high;
            font-size: 1.4rem;
            font-weight:600;
            border: none;
            &:hover{
                cursor: pointer;
                background-color: darken($color: #DDE9F0, $amount: 10%);
            }
        }
    }
    &.-listing{
        background-color: #fff;
        border-bottom: 1px solid #DCE2E6;
        .access-button{
            display: none;
        }
    }
    &.-city{
        background-color: #fff;
        .container{
            .back{
               @include m.center;
               width: 4rem;
               height: 4rem;
               border: 1px solid #DCE2E6;
               border-radius: 1rem;
           }
           h2{
               color: c.$text-color-mid;
               font-size: 2rem;
               font-weight: 500;
               font-family: 'Barlow';
           }
           .access-button{
            display: none;
        }
        }
    }
    &.-local{
        background-color: #fff;
        border-bottom: 1px solid #DCE2E6;
        .container{
            justify-content: flex-start;
            gap: 1rem;
        }
    }
}