@use '../settings/colors' as c;
@use '../settings/mixins' as m;
.rating-card{
    width: 100%;
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    .name-and-stars{
        @include m.space-between;
        width: 100%;
        .user-name{
            color: c.$tertiary-color;
            font-family: 'Barlow';
            font-weight: 600;
            font-size: 2rem;
            line-height: 2.6rem;
        }
    }
    p{
        width: 100%;
        margin-top: 1.6rem;
        color: c.$tertiary-color;
        font-size: 1.6rem;
        line-height: 2.6rem;
        border-bottom: 1px solid #DCE2E6;
        padding-bottom: 2.4rem;
        margin-bottom: 2.4rem;
    }
    &.-last-rating{
        p{
            border: none;
        }
    }
    &.-all{
        margin-top: 2.4rem;
        .wrapper-stars{
            border-bottom: 1px solid #DCE2E6;
            padding-bottom: 2.4rem;
        }
        p{
            border: none;
            margin: 0.8rem 0;
            padding: 0;
        }
        &.-last-rating .wrapper-stars{
            border: none;
        }
    }
}