@use '../settings/colors' as c;
@use '../settings/mixins' as m;
.top-valued{
    @include m.container;
    margin-top: 12rem;
    .list-local{
        display: flex;
        gap: 3.2rem;
        flex-wrap: wrap;
    }
}