@use '../settings/colors' as c;
@use '../settings/mixins' as m;
.wrapper-contact{
    @include m.center;
    flex-wrap: wrap;
    gap: 3.2rem;
    margin-top: 4rem;
    .wpp-button{
        @include m.center;
        gap:1.2rem;
        background-color: #51B853;
        border: none;
        border-radius: 1rem;
        width: 22.5rem;
        height: 4.8rem;
        p{
            font-size: 1.6rem;
            font-weight: 500;
            color: #fff;
        }
    }
    .box-phone{
        font-size: 1.6rem;
        color: c.$primary-color;
        line-height: calc(100% + 1rem);
        .num-phone{
            font-family: 'Barlow', sans-serif;
            font-size: 2rem;
            font-weight: 600;
        }
    }
}