@mixin container {
    max-width: 1120px;
    margin: 0 10%;
}
@mixin space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@mixin sm {
    @media (min-width:576px) {
        @content;
    }
}