@use './settings/colors' as c;
@use './settings/mixins' as m;

//Header
@include m.sm{
    .main-header .container{
        .access-button{
            font-size: 1.6rem;
            width: 17.4rem;
        }
        .main-logo{
            width: 15.6rem;
        }
    }
}

    //Listing
    @include m.sm{
        .main-header.-listing .container{
                .access-button{
                    display: block;
                }
            }
    }

    @include m.lg{
        .main-header.-listing .container{
                .box-search{
                    padding: 1.4rem 1.6rem;
                    }
                .input-search{
                    width: 38rem;
                }
            }
    }
    //City
    @include m.md{
        .main-header.-city .container .access-button{
            display: block;
        }
    }
    //Local
    @include m.lg{
        .main-header.-local .container{
            gap: 3rem;
        }
    }

//Main-section
@include m.md{
    .main-section{
        .wrapper-lists{
            flex-direction: row;
        }
    }
}
@include m.lg{
    .main-section{
        flex-direction: row;
        justify-content: space-between;
        align-items: initial;
        margin-top: 1.6rem;
        .wrapper-welcome{
            margin-top: 12rem;
            width: 32rem;
            a .button-all{
                font-size: 1.8rem;
                height: 7.2rem;
            }
            h1{
                font-size: 7rem;
            }
            p{
                font-size: 2rem;
            }
        }
        .wrapper-lists{
            #list2{
                margin-top: 8rem;
            }
        }
    }
}

//City-card
@media (min-width:576px) and (max-width:991px), (min-width:1200px){
    .main-section .city-card{
        width: 30rem;
        height: 31rem;
        background-position: center top;
        div{
            padding: 2.5rem 2rem;
            h2{
                font-size: 2.2rem;
            }
            h3{
                font-size: 1.5rem;
            }
        }
    }
}

//Cities-section
@include m.xl{
    .cities-section .cities-list{
        justify-content: space-between;        
    }
}

//wrapper-bar
@include m.md{
    .wrapper-bar{
            flex-direction: row;
    }
}
//City-about
@include m.xl{
    .city-about{
        flex-direction: row;
    }
}

//Contrast-section
@include m.xl{
    .contrast-section{
        flex-direction: row;
        .contrast-img{
            width:100%;
            border-radius: 0 1.6rem 1.6rem 0;
        }
    }
}
//Wrapper-timetable
@include m.sm{
    .wrapper-timetable{
        justify-content: flex-start;
    }
}
//Wrapper-contact
@include m.sm{
    .wrapper-contact{
        justify-content: flex-start;
    }
}

//.Img-side
@include m.lg{
    .img-side{
        display: block;
    }
}
@include m.xl{
    .img-side{
        width: 50vw;
    }
}

//Icon-type
@include m.lg{
    .icon-type{
        position: fixed;
        top: 3rem;
        right: 15rem;
    }
}

//Local-section
@include m.lg{
    .local-section .container-content .main-title{
        font-size: 5.4rem;
    }
}

//header-rating
@include m.sm{
    .header-rating .wrapper-rating-action{
        flex-direction: row;
    }
}

//window-all-ratings
@include m.sm{
    .window-all-ratings .box-ratings{
        .header-all-ratings{
            padding: 3rem 4rem;
            .rating-and-comment{
                h2{
                    font-size: 2.4rem;
                    line-height: 3.6rem;
                }
            }
            .add-and-close p{
                display: block;
            }
        } 
        .all-ratings{
            margin: 0 3rem 4rem;
            padding-right: 4rem;
            padding-top: 1rem;
        }
    }
}

//window-new-rating
@include m.sm{
    .window-new-rating .box-new-rating{
        gap: 1.6rem;
        .header-new-rating{
            h2{
                font-size: 2.4rem;
            }
        }
        form{
            padding: 3rem;
            gap: 1.6rem;
            .comment{
                height: 13.6rem;
            }
            .img-and-name{
                @include m.space-between;
                width: 100%;
                .full-name{
                    width: 44rem;
                }
            }
            .alert-and-submit{
                margin-top: 2rem;
            }
        }
    }
}