@use './settings/colors' as c;
@use './settings/mixins' as m;
//Header
@include m.sm{
    .main-header .access-button{
        font-size: 1.6rem;
        width: 17.4rem;
    }
}
//Main-section
@include m.xl{
    .main-section .wrapper-welcome{
        width: 32rem;
        h1{
            font-size: 8rem;
        }
        p{
            font-size: 2rem;
        }
        .button-all{
            font-size: 1.8rem;
            height: 7.2rem;
        }
    }
}
//city-card
@include m.sm{
    .city-card{
        width: 30rem;
        height: 31rem;
        background-position: center top 10%;
        div{
            padding: 2.5rem 2rem;
            h2{
                font-size: 2.2rem;
            }
            h3{
                font-size: 1.5rem;
            }
        }
    }
}
