@use './settings/colors' as c;
@use './settings/mixins' as m;

//Header
@include m.sm{
    .main-header .container{
        .access-button{
            font-size: 1.6rem;
            width: 17.4rem;
        }
        .main-logo{
            width: 15.6rem;
        }
    }
}

    //Listing
    @include m.sm{
        .main-header{
            &.-listing{
                .access-button{
                    display: block;
                }
            }
        }
    }
    @include m.lg{
        .main-header{
            &.listing{
                .box-search{
                    padding: 1.4rem 1.6rem;
                }
                .input-search{
                    width: 38rem;
                }
            }
        }
    }

//Main-section
@include m.md{
    .main-section{
        .wrapper-lists{
            flex-direction: row;
        }
    }
}
@include m.lg{
    .main-section{
        flex-direction: row;
        justify-content: space-between;
        align-items: initial;
        margin-top: 1.6rem;
        .wrapper-welcome{
            margin-top: 12rem;
        }
        .wrapper-lists{
            #list2{
                margin-top: 8rem;
            }
        }
    }
}
@include m.xl{
    .main-section .wrapper-welcome{
        width: 30rem;
        h1{
            font-size: 7rem;
        }
        p{
            font-size: 2rem;
        }
        .button-all{
            font-size: 1.8rem;
            height: 7.2rem;
        }
    }
}

//city-card
@media (min-width:576px) and (max-width:991px), (min-width:1200px){
    .main-section .city-card{
        width: 30rem;
        height: 31rem;
        background-position: center top;
        div{
            padding: 2.5rem 2rem;
            h2{
                font-size: 2.2rem;
            }
            h3{
                font-size: 1.5rem;
            }
        }
    }
}

//Cities-section

@include m.md{
    .cities-section{
        .wrapper-bar{
            ul{
                flex-direction: row;
                padding-bottom: 1rem;
                border-bottom: 1px solid #DCE2E6;
                .active{
                    padding-bottom: 0.5rem;
                    border-bottom: 3px solid c.$secondary-color;
                }
            }
        }
    }
}

@include m.xl{
    .cities-section .cities-list{
        justify-content: space-between;        
    }
}